extend layout.pug
block content
  div(class="container")
    div(class="about" style="margin-top:20px")
      h1 Hplus's Team
    center
      div(style="margin-top:20px")
        h4 Phạm Quốc Hoàng
          span(style="color:hotpink;") MSSV: 1412183
        img(class="thumbnail" src="image/image-team/1412183.jpg")

      div( style="margin-top:40px")
        h4 Hà Ngọc Huy
          span(style="color:blue;") MSSV: 1412199
        img(class="thumbnail" src="image/image-team/1412199.jpg")
