extend layout.pug
block content
  div(class="container")
    h1 Hplus's Blog
    div(class="content")
      div(class="post" style="margin-top:15px" )
        div(class="avatar col-lg-1 col-md-1 col-sm-1 col-xs-1")
          img(src="image/image-team/symbol.png")
        div(class="name" style="margin-left:40px")
          strong(type="strong")
            a(href="#") Hà Ngọc Huy
      p 1412199 view
    p Đừng khóc đừng buồn nhe em, chỉ làm cho thêm đớn đau. Tàn đêm nay là mình chia tay mỗi người xa cách phương trời. Tình lỡ một người sang sông, một người lệ rơi đứng trong, em hỡi còn gì cho nhau hay chỉ còn nỗi nhớ thương đầy vơi. Em ơi đêm nay vầng trăng kia như chứng minh tình đôi ta hôm nao bao thiết tha mặn nồng.....
      div(class="image-post")
        img(class="thumbnail" src = "image/image-team/1412199.jpg")