extend layout.pug
block content
  div(class="container")
    h1 Messages Sent
    each tn in mes.rows
      div(class="messages")
        strong
          p #{tn.name}:
        span(style="color:blue") <--
        p #{tn.contents}
        p at #{tn.time}
